<h1><%= @enclosures.name %></h1>
<ul>
    <li>
        Nazwa: <%= @enclosures.name %>
    </li>
    <li>
        Gatunek: <%= @enclosures.localization %>
    </li>
</ul>

<td><a href="/enclosures/" type="a" class="btn btn-info">Powrót</a></td>