<div class="reservationContainer">
    <div class="reservationBox">
        <div class="reservationElements">
            <h1>Zarezerwuj sobie miejsce!</h1>
            <%= render "form", reservations: @reservations %>
        </div>
    </div>
</div>