<%= month_calendar events: @events do |date,events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= event.name %>
      <%= link_to "Zarezerwuj", new_reservation_path(:event_id => event.id) %>
    </div>
  <% end %>
<%end%>